/*Css reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.Logo {
  width: 200px;
  height: 90px;
}

.navuh {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.Caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.Button {
  color: #ea0a0a;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}


.cardTitle>h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.sub>h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.highBut {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

